* {
  margin: 0;
  padding: 0;
}

/* Removed keyboard accessibility lines until a better method is found */
:focus {
  outline: 0;
}

/* Remove link highlight effect */
a {
  -webkit-tap-highlight-color: transparent;
}

p {
  padding: 20px 0;
  font-size: 18px;
}

.content-wrap {
  min-height: 100vh;
  background: radial-gradient(rgb(221, 222, 224), rgb(234, 234, 236));
}

/* Parallax effect on background header image */
.parallax {
  background-image: url('images/blue.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main page header title */
h1 {
  font-size: 28px;
  letter-spacing: 1px;
  color: #ffffff;
  filter: drop-shadow(2px 2px 0.1rem #222);
}

#nav-projects {
  color: white;
}

#happy-alarm-section {
  background: radial-gradient(#4fb3bf, #00838f);
}

/* Project header title */
#happy-alarm-title {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  text-shadow: 2px 2px 2px rgb(138, 137, 137); 
}

#alarm-description {
  color: white;
  text-shadow: 2px 2px 2px rgb(138, 137, 137);
  padding-left: 15%;
  text-align: left;
  width: 85vw;
}

#noiser-section {
  background: radial-gradient(rgb(255, 206, 107), rgb(255, 182, 46));
}

#noiser-title {
  color: rgb(65, 64, 64);
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  text-shadow: 2px 2px 2px rgb(185, 176, 138);  
}

#noiser-description {
  color: black;
  text-align: left;
  padding-left: 7.5vw;
  width: 90vw;
}

#noiser-picture img {
  margin-bottom: 10px;
}

#about-title {
  color: rgb(65, 64, 64);
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 40px 0 20px 0;
  text-shadow: 2px 2px 2px rgb(196, 196, 196);  
}

/* Navigation text styling */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 20vh;
  font-family: 'Montserrat', sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links a {
  display: flex;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  padding: .25em .75em;
  filter: drop-shadow(2px 2px 0.1rem #222);
}

.nav-links a:hover {
  color: aqua;
  text-shadow: 2px 2px 2px #222;  
}

.nav-menu {
  color: #fff;
  cursor: pointer;
}

.nav-menu div {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 7px;
  transition: all 0.3s ease;
  filter: drop-shadow(2px 2px 0.1rem #222);
}

nav ul li a {
  display:  flex;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  transition: 0.3s linear;
  justify-content: center;
}

nav ul li ul {
  display: none;
  position: absolute;
  width: 200px;
  background: #373737;
}

nav ul li ul li {
  padding: 20px 0;
  width: auto;
}

/* wrap for main content */
.main-content-wrap {
  flex: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,.67);
  font-size: 18px;
  line-height: 1.6em;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 40px 0px;
  text-align: center;
}

.top-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  height: 75vh;
  justify-content: space-around;
}

/* Sectiion of content in main-content */
.content-block a {
  font-size: 100px;
  font-size: 15vw;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: rgba(0,0,0,.85);
}

.content-block a:hover {
  color: aqua;
  text-shadow: 2px 2px 2px #222;  
}

.bio-picture img {
  max-width: 85%;
  max-height: 85%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#noiser-picture img {
  max-width: 85%;
  max-height: 85%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.google-play-badge img {
  max-width: 50%;
  max-height: 50%;
}

.bio-description {
  padding-left: 7.5%;
  max-width: 90%;
  text-align: left;
}

.secondary-content {
  text-align: center;
  color: black;
  padding: 40px;
  padding-top: 0;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: #222;
}

.social-links {
  text-align: center;
}

#social-link {
  display: inline-block;
  padding: 10px;
}

/* Fix position toggle for navigation menu */
.fixedPosition {
   position: fixed;
}

.dev-svg {
  max-width: 3em;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
 
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;  
  
}

.carousel-inner img{
  width: 70vw; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.carousel-caption {
  position: relative;
  bottom: 0;
  color: rgba(0,0,0,.67);
  width: 70vw;
}

.carousel-caption p {
  margin: 0;
  color: rgb(234, 234, 236);
  text-shadow: 2px 2px 2px rgb(138, 137, 137);
  height: 60px;
  padding-bottom: 0;
}

@media only screen and (max-width: 600px) {
  /* Use nav menu on small screens */
  .nav-links {
    position: fixed;
    right: 0px;
    top: 20vh;
    height: 80vh;
    justify-content: unset;
    background: #373737;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
  }

  .nav-links li {
    opacity: 0;
    list-style: none;
    margin: 30px 30px 0 30px;
  }

  .nav-links a {
    padding: 1.5vh .75em;
  }

  nav ul li {
    width: 65%;
  }

  nav ul li ul {
    width: 80vw;
    position: unset;
  }

  body {
    overflow-x: hidden;
  }
}

/* Toggle class for navigation menu */
.nav-active {
  transform: translateX(0%);
}

/* Animate individual nav links */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px)
  }
}

/* Navigation menu button animation */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 10px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -10px);
}

@media only screen and (min-width: 600px) {
  /* Hide the navigation button on large screens */
  .nav-menu {
    display: none;
  }

  nav {
    min-height: 25vh;
  }

  nav a {
    text-transform: uppercase;
  }

  p {
    font-size: 20px;
  }

  p.left-text {
    padding-left: 20%;
  } 

  .submenu-item a {
    text-transform: none;
  }

  nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
  }
  
  #about-content {
    flex-direction: row;
  }

  .bio-description {
    width: 50%;
    padding-left: 0%;
  }

  .bio-picture {
    width: 50%;
  }

  .bio-picture img {
    max-width: 55%;
    min-width: 55%;
    max-height: 100%;
  }

  #noiser-picture img { 
    width: 40%;
    max-height: 100%;
  }

  .google-play-badge img {
    max-width: 20%;
    max-height: 20%;
  }

  .content-block a {
    font-size: 6.5vw;
  }

  p.no-margin-top {
    max-width: 90%;
    margin-top: 0;
    padding-top: 0px;
  }

  #noiser-description {
    padding-left: 20vw;
    text-align: center;
    width: 80vw;
  }

  #alarm-description {
    padding-left: 20vw;
    text-align: center;
    width: 80vw;
  }

  .carousel-item {
    max-width: 25vw;
    min-width: 432px;
  }

  .carousel-inner img{
    width: 70%;
  }

  .carousel-wrapper {
    margin: auto;
  }

  .carousel-caption {
    left: 0;
    width: auto;
  }
}