* {
  margin: 0px;
  padding: 0px;
}

a {
  -webkit-tap-highlight-color: transparent;
}

p {
  padding: 20px 0px;
  font-size: 20px;
}

p.hidden-text {
  display: none;
}

.content-wrap {
  display: flex;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  flex-direction: column;
}

/* Parallax effect on background header image */
.parallax {
  background-image: url('images/blue.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main page header title */
h1 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  filter: drop-shadow(2px 2px 0.1rem #222);
}

/* Project header title */
#h2 {
  text-align: center;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  color: #4fb3bf;
  padding-top: 40px;
}


/* Navigation text styling */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 25vh;
  font-family: 'Montserrat', sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  filter: drop-shadow(2px 2px 0.1rem #222);
}

.nav-links a:hover {
  color: aqua;
}

.nav-menu {
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.nav-menu div {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 7px;
  transition: all 0.3s ease;
  filter: drop-shadow(2px 2px 0.1rem #222);
}

.material-icons.md-48 { 
  font-size: 48px; 
}

/* wrap for main content */
.main-content-wrap {
  flex: 1;
  font-family: adobe-garamond-pro;
  font-weight: 400;
  color: rgba(0,0,0,.67);
  font-size: 18px;
  line-height: 1.6em;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 40px 0px;
  margin: 0 auto;
  text-align: center;
}

.content-block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.content-block a {
  font-size: 100px;
  font-size: 15vw;
  text-decoration: none;
  margin: 18vh 0%;
  font-family: 'Montserrat', sans-serif;
  color: rgba(0,0,0,.85);
}

.content-block a:hover {
  color: aqua;
}

.bio-picture img {
  max-width: 90%;
  max-height: 90%;
}

.content-picture img {
  width: 100%;
  max-width: 50%;
  max-height: 50%;
}

.google-play-badge img {
  max-width: 50%;
  max-height: 50%;
}

.content-description {
  max-width: 90%;
  vertical-align: top;
  overflow: hidden;
  text-align: left;
  padding-left: 5%;
}

.screenshot-description {
  font-size: 20px;
  max-width: 90%;
  vertical-align: top;
  overflow: hidden;
  text-align: center;
  padding-left: 5%;
}

.secondary-content {
  text-align: center;
  color: black;
  padding: 40px;
  border: 1px outset #222;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: #222;
}

.social-links {
  text-align: center;
  margin: 0 auto;
}

#social-link {
  display: inline-block;
  padding: 10px;
}

nav ul li a {
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  transition: 0.3s linear;
}

nav ul li ul {
  display: none;
  position: absolute;
  width: 200px;
  height: 60px;
  text-align: center;
  background: #373737;
}

nav ul li ul li {
  padding: 20px 15px;
}

.fixedPosition {
   position: fixed;
}

@media only screen and (max-width: 600px) {
  /* Change nav on small screens */
  nav {  
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-links {
    position: fixed; /* this makes loads of space after footer */
    right: 0px;
    top: 25vh;
    height: 75vh;
    background: #373737;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
  }

  .nav-links li {
    opacity: 0;
    list-style: none;
  }

  body {
    overflow-x: hidden;
  }

  p.hidden-text {
    visibility: hidden;
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px)
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 10px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -10px);
}

@media only screen and (min-width: 600px) {
  nav {
    min-height: 35vh;
  }

  /* Hide the navigation button on large screens */
  .nav-menu {
    display: none;
  }

  nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    padding: 0px 10px;
  }

  .main-content {
    flex-direction: row;
  }

  .content-description {
    width: 50%;
    padding-left: 0%;
  }

  .screenshot-description {
    max-width: 50%;
    padding-left: 25%;
  }

  .bio-picture {
    width: 50%;
  }

  .bio-picture img {
    width: 70%;
    max-height: 100%;
  }

  .google-play-badge img {
    max-width: 20%;
    max-height: 20%;
  }

  .content-block a {
    font-size: 6.5vw;
  }

  .content-block a.projects {
    margin: 21vh 0% 15vh 0%;
  }

  .content-block a.about {
    margin: 15vh 0% 3vh 0%;
  }

  p.no-margin-top {
    max-width: 90%;
    margin-top: 0;
    padding-top: 0px;
  }
}