html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #eaeaec;
  font-size: 18px;
}

h1,
h2 {
  font-size: 70px;
  font-weight: 300;
  padding: 0 20px;
}

h2 {
  padding: 50px 0px;
}

h3 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #222;
}

p {
  padding: 20px 0;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.67);
}

header {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #222;
}

header p {
  color: rgba(221, 222, 224, 0.8);
  font-size: 20px;
}

header .header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}

header canvas {
  position: absolute;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.03s all ease-out;
  transition: 0.03s all ease-out;
}

header .canvas-fade-in {
  opacity: 1;
  -webkit-transition: 1.5s all ease-in-out;
  transition: 1.5s all ease-in-out;
}

header .canvas-fade-in-mobile {
  opacity: 1;
}

main {
  line-height: 1.6em;
}

section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}

section .content {
  margin: 25px 0;
  width: 75%;
}

#projects {
  color: #222;
  background: #dddee0;
}

#projects .projects__cards {
  display: -ms-grid;
  display: grid;
  row-gap: 60px;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  margin: 30px auto;
}

#projects .projects__cards p {
  padding-top: 0;
}

#projects p a {
  text-decoration: underline;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 20px 0px;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 2px 10px 20px 0px rgba(28, 36, 43, 0.15);
          box-shadow: 2px 10px 20px 0px rgba(28, 36, 43, 0.15);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
}

.card .card__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 20px;
}

.card--1:hover {
  -webkit-box-shadow: 2px 10px 20px 6px rgba(0, 0, 0, 0.1), 2px 10px 20px 4px rgba(44, 62, 80, 0.1);
          box-shadow: 2px 10px 20px 6px rgba(0, 0, 0, 0.1), 2px 10px 20px 4px rgba(44, 62, 80, 0.1);
}

.card--2:hover {
  -webkit-box-shadow: 2px 10px 20px 6px rgba(0, 0, 0, 0.1), 2px 10px 20px 4px rgba(0, 131, 143, 0.1);
          box-shadow: 2px 10px 20px 6px rgba(0, 0, 0, 0.1), 2px 10px 20px 4px rgba(0, 131, 143, 0.1);
}

.card--3:hover {
  -webkit-box-shadow: 2px 10px 20px 6px rgba(0, 0, 0, 0.1), 2px 10px 20px 4px rgba(248, 72, 33, 0.1);
          box-shadow: 2px 10px 20px 6px rgba(0, 0, 0, 0.1), 2px 10px 20px 4px rgba(248, 72, 33, 0.1);
}

.card--4:hover {
  -webkit-box-shadow: 2px 10px 20px 6px rgba(0, 0, 0, 0.1), 2px 10px 20px 4px rgba(255, 182, 46, 0.1);
          box-shadow: 2px 10px 20px 6px rgba(0, 0, 0, 0.1), 2px 10px 20px 4px rgba(255, 182, 46, 0.1);
}

/* for IE 11  css grid support */
.card:nth-child(2) {
  -ms-grid-row: 2;
  grid-row: 2;
  margin-top: 60px;
}

.card:nth-child(3) {
  -ms-grid-row: 3;
  grid-row: 3;
  margin-top: 60px;
}

.card:nth-child(4) {
  -ms-grid-row: 4;
  grid-row: 4;
  margin-top: 60px;
}

@supports (grid-row: auto) {
  .card:nth-child(2) {
    margin-top: 0;
  }
  .card:nth-child(3) {
    margin-top: 0;
  }
  .card:nth-child(4) {
    margin-top: 0;
  }
}

.card-circle {
  width: 35px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
}

.card-circle--1 {
  background: radial-gradient(#4f5c68, #2c3e50);
}

.card-circle--2 {
  background: radial-gradient(#4fb3bf, #00838f);
}

.card-circle--3 {
  background: radial-gradient(#fc7c60, #f84821);
}

.card-circle--4 {
  background: radial-gradient(#ffce6b, #ffb62e);
}

#about {
  background: #222;
  color: #eaeaec;
}

#about p {
  margin-bottom: 0;
}

#about .dev-logos {
  padding-top: 20px;
}

#about .dev-logos svg {
  max-width: 3em;
}

#about img {
  max-width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  color: #eaeaec;
}

footer {
  text-align: center;
  height: 120px;
  background-color: #222;
}

/* MEDIA QUERIES */
/* tablets */
@media screen and (min-width: 768px) {
  .projects__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #about .bio__picture {
    margin: auto;
    width: 285px;
  }
  /* for IE 11  css grid support */
  .card:nth-child(1) {
    margin-right: 30px;
  }
  .card:nth-child(2) {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    margin-top: 0;
    margin-left: 30px;
  }
  .card:nth-child(3) {
    -ms-grid-row: 2;
    grid-row: 2;
    margin-right: 30px;
  }
  .card:nth-child(4) {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    margin-left: 30px;
  }
  @supports (grid-row: auto) {
    .card:nth-child(1) {
      margin-right: 0;
    }
    .card:nth-child(2) {
      grid-row: auto;
      margin-left: 0;
    }
    .card:nth-child(3) {
      grid-row: auto;
      margin-right: 0;
    }
    .card:nth-child(4) {
      grid-row: auto;
      margin-left: 0;
    }
  }
}

/* desktop */
@media screen and (min-width: 1050px) {
  section .content {
    width: 60%;
  }
  #about .content .bio {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
    -webkit-column-gap: 60px;
            column-gap: 60px;
  }
  #about .content img {
    margin-top: 0;
  }
  #about .content .bio__info {
    margin-right: 30px;
  }
  #about .content .bio__picture {
    margin: 20px 0 0 0;
    /* for IE 11  css grid support */
    -ms-grid-column: 2;
    grid-column: 2;
    margin-left: 30px;
  }
  @supports (grid-row: auto) {
    #about .content .bio__info {
      margin-right: 0;
    }
    #about .content .bio__picture {
      margin-left: 0;
    }
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
/*# sourceMappingURL=style.css.map */