* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Hide x overflow containing nav menu */
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: #eaeaec;
}

p {
  padding: 20px 0;
  font-size: 18px;
  margin-bottom: 16px;
}

.content-wrap {
  background: radial-gradient(#dddee0, #eaeaec);
}

h1 {
  font-size: 70px;
  margin-bottom: 40px;
  font-weight: 300;
}

/* Navigation text styling */
nav {
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 12vh;
}

nav ul li {
  width: 65%;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

nav h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 40px;
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-weight: 200;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 12vh;
  height: 88vh;
  background: #222222;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 1;
}

.nav-links li {
  opacity: 0;
  margin: 30px 30px 0 30px;
}

.nav-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #eaeaec;
  letter-spacing: 2px;
  padding: 1.5vh 0.75em;
  -webkit-filter: drop-shadow(2px 2px 0.1rem #222);
          filter: drop-shadow(2px 2px 0.1rem #222);
}

.nav-links a:hover {
  text-shadow: 2px 2px 20px white;
}

.nav-transform {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.nav-menu {
  padding-right: 40px;
  cursor: pointer;
}

.nav-menu div {
  width: 30px;
  height: 4px;
  background-color: #eaeaec;
  margin: 7px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-filter: drop-shadow(2px 2px 0.1rem #222);
          filter: drop-shadow(2px 2px 0.1rem #222);
}

.submenu-item a:hover {
  text-shadow: 2px 2px 20px white;
}

/* Fix position toggle for navigation menu */
.fixedPosition {
  position: fixed;
}

/* Toggle class for navigation menu */
.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

/* Animate individual nav links */
@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/* Navigation menu button animation */
.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 10px);
          transform: rotate(-45deg) translate(-5px, 10px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-6px, -10px);
          transform: rotate(45deg) translate(-6px, -10px);
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 88vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  z-index: -3;
  background: #222;
  padding: 0px 10px;
}

.header-section span {
  color: rgba(221, 222, 224, 0.8);
  font-size: 20px;
}

.header-section canvas {
  position: absolute;
  top: 12vh;
  left: 0;
  height: 88vh;
  width: 100vw;
  opacity: 0;
  -webkit-transition: 0.03s all ease-out;
  transition: 0.03s all ease-out;
}

.header-section .canvas-fade-in {
  opacity: 1;
  -webkit-transition: 1.5s all ease-in-out;
  transition: 1.5s all ease-in-out;
}

.header-section .canvas-fade-in-mobile {
  opacity: 1;
}

#header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 0;
}

/* wrap for main content */
.main-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.67);
  font-size: 18px;
  line-height: 1.6em;
}

.main-content-wrap h1 {
  margin: 50px 0px;
}

.main-content-wrap a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.67);
}

#projects-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

#projects-section h1 {
  color: #222;
}

.projects-content {
  max-width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px 30px 0px;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75vw;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 25px 0px;
  padding: 10px 0px;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 8px 10px 20px 1px rgba(46, 61, 73, 0.15);
          box-shadow: 8px 10px 20px 1px rgba(46, 61, 73, 0.15);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card-container:hover {
  -webkit-box-shadow: 8px 10px 20px 6px rgba(17, 20, 24, 0.15);
          box-shadow: 8px 10px 20px 6px rgba(17, 20, 24, 0.15);
}

.card-container h3 {
  margin-bottom: 0;
  font-size: 28px;
  padding: 40px 0px;
  color: #0d0f10;
  padding: 10px 10px 10px 20px;
  font-weight: 300;
}

.card-container p {
  font-size: 18px;
  color: rgba(13, 15, 16, 0.67);
  padding: 10px 20px;
}

.card-container .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.circle {
  min-width: 35px;
  max-width: 35px;
  border-bottom-right-radius: 300px;
  border-top-right-radius: 300px;
}

.circle-chatwall {
  background: radial-gradient(#4f5c68, #2c3e50);
}

.circle-happy-alarm {
  background: radial-gradient(#4fb3bf, #00838f);
}

.circle-noiser {
  background: radial-gradient(#ffce6b, #ffb62e);
}

.circle-epcnw {
  background: radial-gradient(#fc7c60, #f84821);
}

#about-section {
  background: #222;
  padding-top: 30px;
}

#about-section .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 20px 40px 20px;
  text-align: center;
}

#about-section h1 {
  color: #eaeaec;
  text-align: center;
}

#about-section img {
  max-width: 85%;
  max-height: 85%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

#about-section .bio-info {
  color: #eaeaec;
  padding-left: 7.5%;
  max-width: 90%;
  text-align: left;
}

#about-section .dev-svg {
  max-width: 3em;
}

#about-section #bio-picture {
  margin-bottom: 20px;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #222;
  text-align: center;
}

footer .social-link {
  padding-top: 20px;
}

@media only screen and (min-width: 700px) {
  /* Hide the navigation button on large screens */
  .nav-menu {
    display: none;
  }
  nav {
    min-height: 12vh;
  }
  nav a {
    text-transform: uppercase;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav ul {
    margin: 0;
    padding: 0;
  }
  nav h2 {
    padding-left: 140px;
  }
  .nav-links {
    padding-right: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 35%;
    position: static;
    right: auto;
    top: auto;
    height: auto;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    background: transparent;
  }
  .nav-links a {
    padding: 0.25em 0.75em;
  }
  .nav-links li {
    opacity: 1;
    margin: auto;
  }
  .header-section a {
    font-size: 9.5vh;
  }
  .card-container {
    width: 40%;
    height: 240px;
    margin: 25px 25px;
  }
  .projects-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #about-section .about-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about-section .bio-info {
    padding-left: 0px;
    max-width: 70%;
  }
  #about-section .bio-info p {
    font-size: 20px;
  }
  #about-section #bio-picture {
    width: 460px;
  }
}

@media only screen and (min-width: 1050px) {
  .card-container {
    width: 35%;
    height: 240px;
  }
  #about-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about-section .about-content {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 85%;
  }
  #about-section .bio-info {
    width: 50%;
    padding-left: 0%;
  }
  #about-section .bio-info p {
    max-width: 70%;
    margin-top: 0;
    padding-top: 0px;
  }
  #about-section #bio-picture {
    width: 50%;
  }
  #about-section #bio-picture img {
    width: 55%;
    max-height: 100%;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
/*# sourceMappingURL=style.css.map */