$imgShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
$primaryBackgroundColor: rgb(221, 222, 224), rgb(234, 234, 236);

* {
  margin: 0;
  padding: 0;
}

/* Hide x overflow containing nav menu */
body {
  overflow-x: hidden;
}

/* Remove link highlight effect */
a {
  -webkit-tap-highlight-color: transparent;
}

p {
  padding: 20px 0;
  font-size: 18px;
}

/* Make content fill all screen sizes to ensure footer is at bottom */
.content-wrap {
  min-height: 100vh;
  background: radial-gradient($primaryBackgroundColor);
}

h1 {
  font-size: 28px;
  letter-spacing: 1px;
  color: #ffffff;
  filter: drop-shadow(2px 2px 0.1rem #222);
}

#nav-projects {
  color: white;
}

/* Navigation text styling */
nav {
  // background: linear-gradient(rgb(80, 150, 224), rgb(92, 163, 221));
  background: #222;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 14vh;
  font-family: "Montserrat", sans-serif;
  ul li {
    width: 65%;
    a {
      cursor: pointer;
      color: #fff;
      font-size: 20px;
      transition: 0.3s linear;
    }
    ul {
      display: none;
      position: unset;
      width: 80vw;
      background: #373737;
    }
  }
}

.nav-links {
  display: flex;
  position: fixed;
  right: 0px;
  top: 14vh;
  height: 86vh;
  justify-content: unset;
  background: #373737;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transform: translateX(100%);
  z-index: 1;
  li {
    opacity: 0;
    list-style: none;
    margin: 30px 30px 0 30px;
  }
  a {
    display: flex;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 1.5vh 0.75em;
    filter: drop-shadow(2px 2px 0.1rem #222);
    &:hover {
      text-shadow: 2px 2px 20px rgb(255, 255, 255);
    }
  }
}

.nav-transform {
  transition: transform 0.2s ease-in;
}

.nav-menu {
  color: #fff;
  cursor: pointer;
  div {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 7px;
    transition: all 0.3s ease;
    filter: drop-shadow(2px 2px 0.1rem #222);
  }
}

.submenu-item a:hover {
  text-shadow: 2px 2px 20px rgb(255, 255, 255);
}

/* Fix position toggle for navigation menu */
.fixedPosition {
  position: fixed;
}

/* Toggle class for navigation menu */
.nav-active {
  transform: translateX(0%);
}

/* Animate individual nav links */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Navigation menu button animation */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 10px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -10px);
}

.top-content {
  display: flex;
  height: 86vh;
  justify-content: space-around;
  text-align: center;
  z-index: -3;
  a {
    font-size: 15vw;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 2px 2px 20px #222;
    &:hover {
      // color: aqua;
      text-shadow: 2px 2px 6px #fff;
    }
  }
}

canvas {
  position: absolute;
  top: 14vh;
  left: 0;
  height: 86vh;
  width: 100vw;
  opacity: 0;
  transition: 0.03s all ease-out;
}

.canvas-fade-in {
  opacity: 1;
  transition: 1.5s all ease-in-out;
}

#top-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 0;
}

/* wrap for main content */
.main-content-wrap {
  flex: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.67);
  font-size: 18px;
  line-height: 1.6em;
}

#happy-alarm-section {
  background: radial-gradient(#4fb3bf, #00838f);
  .happy-alarm-content {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    text-align: center;
  }
  h2 {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    text-shadow: 2px 2px 2px rgb(138, 137, 137);
  }
}

#alarm-description {
  color: white;
  text-shadow: 2px 2px 2px rgb(138, 137, 137);
  padding-left: 15%;
  text-align: left;
  width: 85vw;
}

/* Get black carousel prev/next icons */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-inner img {
  width: 70vw;
  box-shadow: $imgShadow;
}

.carousel-caption {
  position: relative;
  bottom: 0;
  color: rgba(0, 0, 0, 0.67);
  width: 70vw;
  p {
    margin: 0;
    color: rgb(234, 234, 236);
    text-shadow: 2px 2px 2px rgb(138, 137, 137);
    height: 60px;
    padding-bottom: 0;
  }
}

.google-play-badge img {
  margin-top: 40px;
  max-width: 50%;
  max-height: 50%;
}

#noiser-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: radial-gradient(rgb(255, 206, 107), rgb(255, 182, 46));
  .noiser-content {
    padding: 40px 0px;
  }
  h2 {
    color: rgb(65, 64, 64);
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    padding-top: 40px;
    text-shadow: 2px 2px 2px rgb(185, 176, 138);
  }
  p {
    color: black;
    text-align: left;
    padding-left: 7.5vw;
    width: 90vw;
  }
  img {
    max-width: 85%;
    max-height: 85%;
    box-shadow: $imgShadow;
    margin-bottom: 10px;
  }
}

#about-section {
  .about-content {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    text-align: center;
  }
  h2 {
    color: rgb(65, 64, 64);
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 40px 0 20px 0;
    text-shadow: 2px 2px 2px rgb(196, 196, 196);
  }
  img {
    max-width: 85%;
    max-height: 85%;
    box-shadow: $imgShadow;
  }
  .bio-info {
    padding-left: 7.5%;
    max-width: 90%;
    text-align: left;
  }
  .dev-svg {
    max-width: 3em;
  }
}

#footer {
  width: 100%;
  height: 80px;
  background-color: #222;
  text-align: center;
  .social-link {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 20px;
  }

  /* Hide the navigation button on large screens */
  .nav-menu {
    display: none;
  }

  nav {
    min-height: 14vh;
    a {
      text-transform: uppercase;
    }
    ul {
      font-size: 0;
      margin: 0;
      padding: 0;
      li {
        width: auto;
        a {
          justify-content: center;
        }
        ul {
          position: absolute;
          width: 200px;
          li {
            padding: 20px 0;
          }
        }
      }
    }
  }

  .nav-links {
    flex-direction: row;
    justify-content: space-around;
    width: 35%;
    position: static;
    right: auto;
    top: auto;
    height: auto;
    transform: none;
    transition: all 0s ease 0s;
    background: transparent;
    a {
      padding: 0.25em 0.75em;
    }
    li {
      opacity: 1;
      margin: auto;
    }
  }

  // Lowercase for large screens
  .submenu-item a {
    text-transform: none;
  }

  .top-content a {
    font-size: 9.5vh;
  }

  #alarm-description {
    padding-left: 20vw;
    text-align: center;
    width: 80vw;
  }

  .carousel-wrapper {
    margin: auto;
  }

  .carousel-item {
    max-width: 25vw;
    min-width: 432px;
  }

  .carousel-inner img {
    width: 70%;
  }

  .carousel-caption {
    left: 0;
    width: auto;
  }

  .google-play-badge img {
    max-width: 20%;
    max-height: 20%;
  }

  #noiser-section {
    p {
      padding-left: 20vw;
      text-align: center;
      width: 80vw;
    }
    img {
      width: 40%;
      max-height: 100%;
    }
  }

  #about-section {
    .about-content {
      flex-direction: row;
      opacity: 0;
      transform: translateY(10px);
      transition: 0.5s all ease-in-out;
    }
    .about-fade-in {
      opacity: 1;
      transform: translateY(0px);
    }
    .bio-info {
      width: 50%;
      padding-left: 0%;
      p {
        max-width: 90%;
        margin-top: 0;
        padding-top: 0px;
      }
    }

    #bio-picture {
      width: 50%;
      img {
        max-width: 55%;
        min-width: 55%;
        max-height: 100%;
      }
    }
  }
}
