$imgShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
$primaryBackgroundColor: rgb(221, 222, 224), rgb(234, 234, 236);
$primaryColor: rgb(234, 234, 236);
$secondaryColor: #212529;

* {
  margin: 0;
  padding: 0;
}

/* Hide x overflow containing nav menu */
body {
  overflow-x: hidden;
}

p {
  padding: 20px 0;
  font-size: 18px;
}

.content-wrap {
  background: radial-gradient($primaryBackgroundColor);
}

h1 {
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  color: $primaryColor;
  margin-bottom: 40px;
}

#nav-projects {
  color: $primaryColor;
}

/* Navigation text styling */
nav {
  background: #222;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  font-family: "Montserrat", sans-serif;
  ul li {
    width: 65%;
    a {
      cursor: pointer;
      color: $primaryColor;
      font-size: 18px;
      transition: 0.3s linear;
    }
  }
  h2 {
    flex: 1;
    padding-left: 40px;
    font-size: 24px;
    letter-spacing: 1px;
    color: $primaryColor;
    margin-bottom: 0;
  }
}

.nav-links {
  display: flex;
  position: fixed;
  top: 12vh;
  height: 88vh;
  background: #222222;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transform: translateX(100%);
  z-index: 1;
  li {
    opacity: 0;
    margin: 30px 30px 0 30px;
  }
  a {
    display: flex;
    color: $primaryColor;
    letter-spacing: 2px;
    padding: 1.5vh 0.75em;
    filter: drop-shadow(2px 2px 0.1rem #222);
    &:hover {
      text-shadow: 2px 2px 20px rgb(255, 255, 255);
    }
  }
}

.nav-transform {
  transition: transform 0.2s ease-in;
}

.nav-menu {
  padding-right: 40px;
  color: $primaryColor;
  cursor: pointer;
  div {
    width: 30px;
    height: 4px;
    background-color: $primaryColor;
    margin: 7px;
    transition: all 0.3s ease;
    filter: drop-shadow(2px 2px 0.1rem #222);
  }
}

.submenu-item a:hover {
  text-shadow: 2px 2px 20px rgb(255, 255, 255);
}

/* Fix position toggle for navigation menu */
.fixedPosition {
  position: fixed;
}

/* Toggle class for navigation menu */
.nav-active {
  transform: translateX(0%);
}

/* Animate individual nav links */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Navigation menu button animation */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 10px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -10px);
}

.header-section {
  display: flex;
  height: 88vh;
  justify-content: space-around;
  text-align: center;
  z-index: -3;
  background: #222;
  padding: 0px 10px;
  margin-bottom: 30px;
  span {
    color: rgba(221, 222, 224, 0.8);
    font-size: 20px;
  }
  canvas {
    position: absolute;
    top: 12vh;
    left: 0;
    height: 88vh;
    width: 100vw;
    opacity: 0;
    transition: 0.03s all ease-out;
  }
  .canvas-fade-in {
    opacity: 1;
    transition: 1.5s all ease-in-out;
  }
  .canvas-fade-in-mobile {
    opacity: 1;
  }
}

#header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 0;
}

/* wrap for main content */
.main-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.67);
  font-size: 18px;
  line-height: 1.6em;
  h1 {
    color: #222;
    margin: 30px 0px;
  }
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.67);
  }
}

#projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-content {
  max-width: 1500px;
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 30px 0px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75vw;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 25px 0px;
  padding: 10px 0px;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 8px 10px 20px 1px rgba(46, 61, 73, 0.15);
  transition: 0.2s;
  &:hover {
    box-shadow: 8px 10px 20px 6px rgba(17, 20, 24, 0.15);
  }
  h3 {
    margin-bottom: 0;
    font-size: 28px;
    padding: 40px 0px;
    color: rgb(13, 15, 16);
    padding: 10px 10px 10px 20px;
  }
  p {
    font-size: 18px;
    color: rgba(13, 15, 16, 0.67);
    padding: 10px 20px;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.circle {
  min-width: 35px;
  max-width: 35px;
  border-bottom-right-radius: 300px;
  border-top-right-radius: 300px;
}

.circle-chatwall {
  background: radial-gradient(#4f5c68, #2c3e50);
}

.circle-happy-alarm {
  background: radial-gradient(#4fb3bf, #00838f);
}

.circle-noiser {
  background: radial-gradient(rgb(255, 206, 107), rgb(255, 182, 46));
}

.circle-epcnw {
  background: radial-gradient(rgb(252, 124, 96), rgb(248, 72, 33));
}

#about-section {
  background: #222;
  .about-content {
    display: flex;
    flex-direction: column;
    padding: 40px 20px 40px 20px;
    text-align: center;
  }
  h1 {
    margin-top: 60px;
    color: $primaryColor;
    text-align: center;
  }
  img {
    max-width: 85%;
    max-height: 85%;
    box-shadow: $imgShadow;
    border-radius: 20px;
  }
  .bio-info {
    color: $primaryColor;
    padding-left: 7.5%;
    max-width: 90%;
    text-align: left;
  }
  .dev-svg {
    max-width: 3em;
  }
  #bio-picture {
    margin-bottom: 20px;
  }
}

#footer {
  width: 100%;
  height: 80px;
  background-color: #222;
  text-align: center;
  .social-link {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 650px) {
  /* Hide the navigation button on large screens */
  .nav-menu {
    display: none;
  }

  nav {
    min-height: 12vh;
    a {
      text-transform: uppercase;
      justify-content: center;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    h2 {
      padding-left: 140px;
    }
  }

  .nav-links {
    padding-right: 40px;
    flex-direction: row;
    justify-content: space-around;
    width: 35%;
    position: static;
    right: auto;
    top: auto;
    height: auto;
    transform: none;
    transition: all 0s ease 0s;
    background: transparent;
    a {
      padding: 0.25em 0.75em;
    }
    li {
      opacity: 1;
      margin: auto;
    }
  }

  .header-section a {
    font-size: 9.5vh;
  }

  .card-container {
    width: 40%;
    height: 240px;
    margin: 25px 25px;
  }

  .projects-content {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  #about-section {
    .about-content {
      align-items: center;
    }
    .bio-info {
      padding-left: 0px;
      max-width: 70%;
      p {
        font-size: 20px;
      }
    }
    #bio-picture {
      width: 460px;
    }
  }
}

@media only screen and (min-width: 1050px) {
  .card-container {
    width: 35%;
    height: 240px;
  }

  #about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-content {
      align-items: initial;
      flex-direction: row;
      width: 85%;
    }
    .bio-info {
      width: 50%;
      padding-left: 0%;
      p {
        max-width: 70%;
        margin-top: 0;
        padding-top: 0px;
      }
    }
    #bio-picture {
      width: 50%;
      img {
        width: 55%;
        max-height: 100%;
      }
    }
  }
}
